[user]
	email = gui.corre@gmail.com
	name = Guillaume Corré
[commit]
  template = ~/.gitmessage
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
	excludesfile = ~/.gitignore
[diff-so-fancy]
	markEmptyLines = false
[push]
	default = current
[pull]
	ff = only
[includeIf "gitdir:~/Code/projects/gatling/"]
	path = ~/Code/projects/gatling/.gitconfig
[init]
	defaultBranch = main
