! https://wiki.gentoo.org/wiki/Rxvt-unicode

*termName: rxvt-unicode-256color

Xft.antialias: true
Xft.dpi:       96
Xft.hinting:   true
Xft.hintstyle: hintslight

URxvt.depth: 32
URxvt*dynamicColors: on
URxvt*fading: 0
URxvt*scrollBar: false

URxvt*boldFont: xft:Iosevka SS09:style=Bold:size=12, xft:Font Awesome 5 Free Solid:size=12
URxvt*boldItalicFont: xft:Iosevka SS09:style=Bold Italic:size=12, xft:Font Awesome 5 Free Solid:size=12
URxvt*font: xft:Iosevka SS09:style=Book:size=12, xft:Font Awesome 5 Free Solid:size=12
URxvt*italicFont: xft:Iosevka SS09:style=Book Italic:size=12, xft:Font Awesome 5 Free Solid:size=12

! Colors

URxvt*background: rgba:1c00/1c00/1c00/ee00
URxvt*foreground: #839496

URxvt.cursorBlink: true
URxvt.cursorColor: #859901

!! Black
*color0:  #003541
*color8:  #003541

!! Red
*color1:  #dc322f
*color9:  #dc322f

!! Green
*color2:  #859901
*color10: #859901

!! Yellow
*color3:  #b58901
*color11: #b58901

!! Blue
*color4:  #268bd2
*color12: #268bd2

!! Magenta
*color5:  #d33682
*color13: #d33682

!! Cyan
*color6:  #2aa198
*color14: #2aa198

!! White
*color7:  #eee8d5
*color15: #fdf6e3

!URxvt.lineSpace: 0

! Scroll on non-special key press
!URxvt*scrollTtyKeypress:    true
! Do not scroll to bottom when tty receives output
!URxvt*scrollTtyOutput:      false
! Scroll with scrollback buffer when tty recieves new lines,
!URxvt*scrollWithBuffer:     true
! For speed. When receiving lots of lines, urxvt will only scroll once
! in a while (around 60x/sec), resulting in fewer updates. This can
! result in urxvt not ever displaying some of the lines it receives
!URxvt*skipScroll:  true

!URxvt.scrollStyle:          rxvt

!URxvt.saveLines:            4095
!URxvt.internalBorder:       0
